* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Roboto';
    src: url("../assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

body {
    height: 100%;
    background-color: #e9efec;
}

#demo {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}